@import "/template.css";

body {
	margin: 0;
	padding: 5vh 5vw;
	font-family: 'Arial', sans-serif;
}

#title-field {
	color: var(--text);
	margin-bottom: 3vh;
	font-size: 3.5em;
	text-align: center;
	margin-top: 0;
}

#entry-field {
	width: calc(100% - 2vw);
	height: 70vh;
	padding: 1rem;
	margin: auto;
	display: block;
	border-radius: 0.7rem;
	border-color: var(--border);
	font-size: 1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--mainaccent);
}

#submit-icon,
#back-icon {
	position: fixed;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 100;
}

#submit-icon {
	bottom: 10rem;
	right: 8rem;
}

#back-icon {
	top: 1.25rem;
	left: 2rem;
	height: 4rem;
	width: 4rem;
}